/* Aturan CSS Umum */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}
body {
    font-family: "Outfit", sans-serif;
    background-color: #F5F5F5;
    padding-top: 5rem; 
}

/* Navbar */
#logo {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 5px;
    font-family: "Outfit", sans-serif;
}
.navbar-nav {
    margin-left: 20px;
}
.nav-item .nav-link {
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-family: "Outfit", sans-serif;
    transition: 0.5s ease;
    line-height: 1.2;
}
.nav-item .nav-link:hover {
    color: #86B817;
    border-bottom: 1px solid #86B817;
    color: #9ed32b;
}
.dropdown-menu .dropdown-item {
    font-family: "Outfit", sans-serif;
}
.dropdown-menu .dropdown-item:hover {
    background: #86B817;
    color: white;
}
/* Navbar */

/*** Home ***/
.hero-header {
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(37, 37, 57, 0.7)), url(./home.1.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}
.section-title::before {
    position: absolute;
    content: "";
    width: calc(100% + 80px);
    height: 2px;
    top: 4px;
    left: -40px;
    background: var(--primary);
    z-index: -1;
}
.section-title::after {
    position: absolute;
    content: "";
    width: calc(100% + 120px);
    height: 2px;
    bottom: 5px;
    left: -60px;
    background: var(--primary);
    z-index: -1;
}
.section-title.text-start::before {
    width: calc(100% + 40px);
    left: 0;
}
.section-title.text-start::after {
    width: calc(100% + 60px);
    left: 0;
}
.btn-brand{
    background-color: #86B817;
    color: white;
}
.btn-brand:hover{
    background-color: #86B817;
    color: white;
}
/*Home*/

/* About Section */
.about {
    padding: 15px 0;
}
.about h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}
.about p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 25px;
}
/* About Section */

/* Tour */
.judul h5 {
    padding-top: 30px;
    color: #413937;
    text-shadow: 0px 1px 1px white;
    font-size: 37px;
    text-align: center;
    font-family: "Outfit", sans-serif;
}
.tour .card .card-body h3 {
    font-size: 22px;
    font-weight: 600;
    color: #86B817;
}
.tour .card {
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.tour .card img {
    border-radius: 5px;
}
.tour .card .card-body {
    background: transparent;
}
.d-grid .btn {
    text-decoration: none;
    background: #86B817;
    color: white;
    border-radius: 5px;
}
.main-txt h1 {
    color: #333;
}
/* Tour */

/* Kendaraan */
.Kendaraan {
    padding-top: 30px;
}
.Kendaraan .card {
    border-radius: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.Kendaraan .card img {
    border-radius: 5px;
}
.Kendaraan .card .card-body h3 {
    font-size: 22px;
    font-weight: 600;
    color: #86B817;
}
.Kendaraan .card .card-body {
    background: transparent;
}
.d-grid .btn {
    text-decoration: none;
    background: #86B817;
    color: white;
    border-radius: 5px;
}
.ketentuan .card {
    border-radius: 5px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.syarat-sewa {
    font-family: "Outfit", sans-serif;
}
/* Section kendaraan end */


/* Section syarat dan booking Start */
.ketentuan{
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.syarat-booking{
    font-family: "Outfit", sans-serif;
}
.booking{
    height: 100vh;
}
.container-book {
  max-width: 800px;
  margin: 0 auto;
}
.booking h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #86B817;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.booking form {
  background-color: #f1f8e4;;
  padding: 30px;
  border-radius: 10px;
}
.booking .form-control {
  border-radius: 5px;
  box-shadow: none;
}
.booking .form-control:focus{
    box-shadow: none;
    border-color: #86B817;
}
.booking .input-group-text { 
  background-color: #e9ecef;
  border-color: #ecf2f8;
  border-right: none;
}
.booking .form-select {
  border-radius: 5px;
  box-shadow: none;
}
.booking textarea .form-control {
  height: 140px;
}
.booking .btn-brand {
  background-color: #86B817;
  border-color: #86B817;
  transition: all 0.3s ease;
}
.booking .btn-danger {
  background-color: #dc3545;
  transition: all 0.3s ease;
}
@media (max-width: 767px) {
    .container-book {
      padding: 0 15px;
    }
}
@media (max-width: 575px) {
    .booking {
      padding: 20px;
    }
}
/* Section syarat dan booking end */

/* ulasan */ 
.btn-brand {
    background-color: #86B817;
    border-color: #86B817;
} 
.btn-brand:hover {
    background-color: #86B817;
    border-color: #86B817;
}
.lead {
    font-size: 17px;
}
.ulasan-form .form-control{
    border-radius: 5px;
}
.ulasan-form .form-control:focus{
    box-shadow: none;
    border-color: #86B817;
}
/* ulasan */

/*** contact ***/
#contact {
    position: relative;
    z-index: 2;
}
#contact::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(20, 20, 31, .7), rgba(20, 20, 31, .7)), url(./home.1.jpeg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#contact .form-control {
    border-radius: 5px;
}
#contact .form-control:focus {
    box-shadow: none;
    border-color: #86B817;
}
/*** contact ***/

/*** Footer ***/
.footer {
    background-color: #02141a !important
  }
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F5F5F5;
    font-weight: normal;
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}
.footer .btn.btn-social:hover {
    color: #86B817;
}
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
    text-decoration: none;
}
.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}
.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}
.footer .copyright a {
    color: #F5F5F5;
}
.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}
.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
/*** Footer ***/